feedparser==6.0.11
fitz==0.0.1.dev2
graphviz==0.21
nltk==3.9.2
numpy==2.3.4
openai==2.6.0
pandas==2.3.3
Pillow==12.0.0
plotly==6.3.0
pydantic==2.12.3
python_dateutil==2.9.0.post0
python_docx==1.2.0
Requests==2.32.5
scipy==1.16.2
statsmodels==0.14.5
streamlit==1.50.0
streamlit_autorefresh==1.0.1
streamlit_image_coordinates==0.4.0
uiautomation==2.0.29
